{% load static %}

<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{% static "resoapp/style.css" %}">
		<title>ZaPF Resotool</title>
	</head>
	<body>
		<h1>ZaPF Resotool</h1>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
					<li class="nav-item active">
						<a class="nav-link" href="{% url "resoapp:index" %}">Anträge</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suche</button>
				</form>
			</div>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>
