{% extends "resoapp/base.html" %}

{% block content %}
<h2>{{ resolution.title }}</h2>
<p><b>antragstellende Personen:</b> {{ resolution.user_set.all|join:", " }}</p>
<p><b>eingereicht:</b> {{ resolution.date_submitted|date:"Y-m-d H:i" }}</p>
<p><b>verabschiedet:</b> {{ resolution.date_enacted|date:"Y-m-d" }}</p>
{% if resolution.reso_type == 0 %}
<p><b>verschickt:</b> {{ resolution.date_sent|date:"Y-m-d" }}</p>
{% endif %}
<h3>Antragstext</h3>
{{ resolution.reso_text_html|safe }}
{% if resolution.motivation_text %}
<h3>Begründung</h3>
{{ resolution.motivation_text_html|safe }}
{% endif %}
{% endblock %}
